<template id = "main">
	<style>
		@font-face
		{
			font-family: "Roboto";
			src:         url("../Fonts/Roboto/Roboto-Regular.ttf");
		}

		:host
		{
			font-family: "Roboto";
			display:     block;
		}

		.hidden
		{
			display: none;
		}

		.playerLayersContainer
		{
			height: 100%;
		}

		.layer
		{
			position: relative;
			height:   100%;
		}

		.videoContainer
		{
			background-color: #66BB6A;
			position:         absolute;
			top:              0;
			left:             0;
			width:            100%;
			height:           100%;
			display:          flex;
			justify-content:  center;
		}

		.videoContainer img,
		.videoContainer video
		{
			max-width:  100%;
			max-height: 100%;
		}

		.controlsContainer
		{
			display:        flex;
			flex-direction: column;
			height:         100%;
			width:          100%;
			position:       absolute;
		}

		.header
		{
			display:         flex;
			justify-content: space-between;
			height:          30px;
		}

		.representation
		{
			display: flex;
		}

		.sourceWindow
		{
			width: 100%;
		}

		.triggers
		{
			width:       30%;
			overflow:    hidden;
			overflow-y:  auto;
			white-space: nowrap;
		}

		.trigger
		{
			text-overflow: ellipsis;
			width:         100%;
			overflow:      hidden;
		}

		.trigger.button
		{
			margin:      8px;
			margin-left: 0;
			height:      24px;
		}

		.controls
		{
			height:          30px;
			display:         flex;
			justify-content: space-between;
		}

	</style>
	<div class = "playerLayersContainer">
		<div class = "video layer">
			<div class = "videoContainer">
				<img src = "frames/frame1.jpg" />
			</div>
			<div class = "controlsContainer">
				<div class = "header">
					<span class = "name">Camera 1</span>
					<span class = "settingsButton">O</span>
				</div>
				<div class = "representation">
					<span class = "sourceWindow"></span>
					<span class = "triggers">
						<div class = "trigger button animated">Trigger 1</div>
						<div class = "trigger button animated">New trigger 2</div>
						<div class = "trigger button animated">aasdasdads</div>
						<div class = "trigger button animated">adsfsdgsdgdsgsdgsdgsd sdsgsdgsd</div>
						<div class = "trigger button animated">adfssfs sdfsdf ssdfsdfdsf</div>
						<div class = "trigger button animated">Trigger 3</div>
						<div class = "trigger button animated">Trigger 4</div>
						<div class = "trigger button animated">Trigger 5</div>
						<div class = "trigger button animated">Trigger 6</div>
						<div class = "trigger button animated">Trigger 7</div>
						<div class = "trigger button animated">Trigger 8</div>
						<div class = "trigger button animated">Trigger 9</div>
						<div class = "trigger button animated">Trigger 10</div>
						<div class = "trigger button animated">Trigger 11</div>
						<div class = "trigger button animated">Trigger 12</div>
						<div class = "trigger button animated">Trigger 13</div>
						<div class = "trigger button animated">Trigger 14</div>
						<div class = "trigger button animated">Trigger 15</div>
						<div class = "trigger button animated">Trigger 16</div>
						<div class = "trigger button animated">Trigger 17</div>
						<div class = "trigger button animated">Trigger 18</div>
						<div class = "trigger button animated">Trigger 19</div>
						<div class = "trigger button animated">Trigger 20</div>
						<div class = "trigger button animated">Trigger 21</div>
						<div class = "trigger button animated">Trigger 22</div>
						<div class = "trigger button animated">Trigger 23</div>
						<div class = "trigger button animated">Trigger 24</div>
					</span>
				</div>
				<div class = "controls">
					<span class = "group">
						<span class = "button">V</span>
						<span class = "button">X</span>
					</span>
					<span class = "group">
						<span class = "button">[]</span>
					</span>
				</div>
			</div>
		</div>
		<div class = "settings layer hidden">

		</div>
		<div class = "recognition layer hidden">

		</div>
	</div>
</template>

<template id = "trigger">
	<div class = "trigger button animated"></div>
</template>

<template id = "imagePlayer">
	<img src = "" />
</template>

<template id = "videoPlayer">
	<video></video>
</template>